@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");


:root {
  --orange: hsl(26, 100%, 55%);
  --pale-orange: hsl(25, 100%, 94%);
  --very-dark-blue: hsl(220, 13%, 13%);
  --dark-grayish-blue: hsl(219, 9%, 45%);
  --grayish-blue: hsl(220, 14%, 75%);
  --light-grayish-blue: hsl(223, 64%, 98%);
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --black-with-opacity: hsla(0, 0%, 0%, 0.75);
}


/* a {
  text-decoration: none;
  color: var(--dark-grayish-blue);
} */

/* body {
  min-height: 100vh;
  min-width: 100vw;
  position: relative;
} */

.product-page-container {
  max-width: 1120px;
  min-height: 100vh;
  padding: 0 5px;
  margin: auto;
}

/* Navbar */
/* 
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 26px;
  border-bottom: 1px solid var(--grayish-blue);
  margin-bottom: 85px;
  position: relative;
}

.nav-first {
  display: flex;
  align-items: center;
  gap: 50px;
  padding-bottom: 30px;
}

.nav-first .menu-icon {
  display: none;
}

.nav-first .backdrop {
  display: none;
}

.nav-links .close-icon {
  display: none;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 30px;
}

.nav-links a {
  position: relative;
}

.nav-links a:hover {
  color: var(--black);
}

.nav-links a:hover::after {
  content: "";
  position: absolute;
  background-color: var(--orange);
  width: 100%;
  height: 3px;
  left: 0;
  bottom: -47px;
}

.nav-second {
  display: flex;
  align-items: center;
  gap: 45px;
  padding-bottom: 30px;
}

.logo img {
  height: 22px;
}

.avatar img {
  height: 50px;
  width: 50px;
} */

/* Main */

.product-detail-page  {
  margin-top: 30px;
  display: flex;
  gap: 125px;
  min-height: 570px;
  align-items: center;
  padding: 0 50px;
}

/* Image gallery */
.product-detail-page  .gallery {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.product-detail-page .gallery .main-img img {
  display: none;
}

.product-detail-page .gallery .main-img img.active {
  display: inline-block;
  max-width: 445px;
  max-height: 445px;
  height: 400px;
  width: 100%;
  border-radius: 20px;
  cursor: pointer;
}

.product-detail-page .gallery .thumb-list {
  display: flex;
  justify-content: center;
  max-width: 445px;
  width: 100%;
}

.product-detail-page .gallery .thumb-list div {
  max-width: 90px;
  max-height: 90px;
  margin: 0 2px;
}

.product-detail-page .gallery .thumb-list img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  cursor: pointer;
}

.product-detail-page  .gallery .thumb-list img:hover {
  opacity: 50%;
}

.product-detail-page .gallery .thumb-list .active img {
  opacity: 30%;
}

.product-detail-page  .gallery .thumb-list .active {
  border: 2px solid var(--orange);
  border-radius: 13px;
  margin: 0;
}

/* lightbox */

.product-detail-page  .lightbox {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 10;
  background: var(--black-with-opacity);
  align-items: center;
  justify-content: center;
}

.product-detail-page  .lightbox.active {
  display: flex;
}

.product-detail-page  .lightbox.active .gallery {
  max-width: 445px;
}

.product-detail-page  .lightbox .main-img {
  position: relative;
}

.product-detail-page .lightbox .icon-prev,
.product-detail-page  .lightbox .icon-next {
  position: absolute;
  height: 60px;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--white);
  border-radius: 50%;
}

.product-detail-page  .icon-prev:hover,
.product-detail-page  .icon-next:hover {
  cursor: pointer;
}


.product-detail-page  .icon-prev {
  top: 50%;
  transform: translate(-50%, -50%);
}

.product-detail-page  .icon-next {
  top: 50%;
  right: 0;
  transform: translate(50%, -50%);
}

.product-detail-page  .icon-close svg path {
  fill: var(--white);
}

.product-detail-page  .icon-close svg path:hover {
  cursor: pointer;
  fill: var(--orange);
}

.product-detail-page .icon-close {
  position: absolute;
  right: 0;
  top: -40px;
}

/* Content */

.product-detail-page  .content {
  flex: 1;
}
.product-detail-page  .content h3 {
  font-size: 16px;
  color: var(--orange);
}

.product-detail-page  .content h2 {
  font-size: 37px;
  margin: 20px 0 40px 0;
}

.product-detail-page .content p {
  font-size: 16px;
  color: var(--dark-grayish-blue);
  margin-bottom: 15px;
}

.product-detail-page  .price {
  display: flex;
  align-items: center;
  gap: 15px;
}

.product-detail-page  .current-price {
  font-weight: 700;
  font-size: 25px;
}

.product-detail-page .discount {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 6px;
  border-radius: 10%;
  height: 25px;
  background-color: var(--pale-orange);
  font-weight: 700;
  color: var(--orange);
}

.product-detail-page  .prev-price {
  margin: 10px 0 35px 0;
  font-size: 18px;
  color: var(--grayish-blue);
  font-weight: 700;
  text-decoration: line-through;
}

.product-detail-page  .add-to-cart-container {
  display: flex;
  align-items: center;
  gap: 15px;
}

.product-detail-page  .counter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 15px;
  width: 150px;
  height: 55px;
  background: var(--light-grayish-blue);
}

.product-detail-page  .counter button {
  width: 50px;
  height: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;

}

.product-detail-page  .counter .count {
  font-weight: 700;
}

.product-detail-page  .add-to-cart {
  color: var(--white);
  background-color: #0051d2;
  border: 0px;
  height: 55px;
  width: 100%;
  border-radius: 10px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  cursor: pointer;
  padding: 0 5px;
}


.product-detail-page  .add-to-cart:hover{
  opacity: 0.6;
}
.product-detail-page  .add-to-cart svg path {
  fill: var(--white);
}

/* Cart */
.product-detail-page .cart {
  position: relative;
}

.product-detail-page .cart-icon {
  cursor: pointer;
}

.product-detail-page .cart-container {
  right: -95px;
  top: 50px;
  z-index: 9;
  position: absolute;
  width: 360px;
  min-height: 260px;
  background: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  display: none;
}

.product-detail-page .cart-container.active {
  display: flex;
  flex-direction: column;
}

.product-detail-page .cart-title {
  padding: 25px 20px;
  font-weight: 700;
  border-bottom: 1px solid var(--grayish-blue);
}

.product-detail-page .cart .cart-items {
  padding: 25px 20px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.product-detail-page .cart .cart-items.empty {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 185px;
  font-weight: 700;
}

.product-detail-page .cart .cart-items.empty .cart-empty {
  color: var(--grayish-blue);
  display: inline-block;
}

.product-detail-page .cart .cart-items .cart-empty {
  display: none;
}

.product-detail-page .cart-item {
  display: flex;
  align-items: center;
  gap: 20px;
}

.product-detail-page .cart-item img {
  height: 50px;
  border-radius: 5px;
}

.product-detail-page .cart-item {
  color: var(--dark-grayish-blue);
}

.product-detail-page .cart-item .total-price {
  color: var(--black);
  font-weight: 700;
}

.product-detail-page .checkout.empty {
  display: none;
}

.product-detail-page .checkout {
  height: 56px;
  margin: 27px 23px;
  border: none;
  color: var(--white);
  background-color: var(--orange);
  border-radius: 10px;
  font-weight: 700;
}

.product-detail-page .checkout:hover {
  cursor: pointer;
}

.product-detail-page .cart-count {
  cursor: pointer;
  position: absolute;
  top: -8px;
  right: -10px;
  background-color: var(--orange);
  color: var(--white);
  min-width: 25px;
  min-height: 17px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight: 700;
}

.product-detail-page .delete-item {
  border: none;
  background: none;
  cursor: pointer;
}

/* Mobile */

@media (max-width: 755px) {

  /* main */

  .product-detail-page  {
    flex-direction: column;
    margin-top: 20px;

    gap: 20px;
    padding: 0;
  }

  .product-detail-page  .default {
    display: none;
  }

  .product-detail-page .lightbox {
    display: flex;
    position: relative;
    height: auto;
    width: auto;
    background: none;
  }

  .product-detail-page  .thumb-list {
    display: none;
  }

  .product-detail-page   .icon-prev {
   right: 45px;
    top: 300px;
    height: 45px;
    width: 45px;
  }

  .product-detail-page  .icon-next {
    top: 300px;
    right: 50px;
    height: 45px;
    width: 45px;
  }

  .product-detail-page .gallery .main-img img.active {
    max-width: none;
    max-height: none;
    width: 300px;
    height: 300px;
    border-radius: 0;
  }

  .product-detail-page .content {
    padding: 0 20px;
  }

  .product-detail-page .content h2 {
    margin: 10px 0;
    font-size: 30px;
  }

  .product-detail-page .price-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
  }

  .product-detail-page  .prev-price {
    margin: 0;
  }

  .product-detail-page .add-to-cart-container {
    flex-direction: column;
  }

  .product-detail-page .counter {
    width: 100%;
  }

  .product-detail-page .counter button {
    width: 40%;
  }

  .product-detail-page .cart-container {
    z-index: 20;
    right: -85px;
    top: 40px;
  }
}
